// Fichier main.scss
@import 'base/reset';
@import 'base/fonts';
@import 'components/loader';
@import 'components/banner';
@import 'layout/grid';
@import 'layout/header';
@import 'layout/navigation';
@import 'layout/footer';
@import 'utils/functions';
@import 'utils/mixins';
@import 'utils/variables';

:root {
    --main-color: #0065FC;
    --main-bg-color: #FFFFFF;
    --grey-bg-color: #EAEAEA;
    --main-dot-color: #000000;
    --grey-bg-button-color: #008000;
    font-family: 'Roboto', sans-serif;
}


.main-container {
    background-color: var(--main-bg-color);
    font-family: 'Roboto', sans-serif;
}

