// Fichier main.scss
@import 'base/reset';
@import 'base/fonts';
@import 'components/loader';
@import 'layout/header';
@import 'layout/footer';
@import 'utils/variables';



body {
    font-family: roboto, sans-serif;
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 375px;
    box-sizing: border-box;
    background-color: $main-bg-color;
}

@media (min-width:699px)  {
    .main-container {
        width: 100%;
        max-width: 1440px;
        box-sizing: border-box;
        background-color: $main-bg-color;
    }
}

.liens-standard {
    text-decoration: none;
}

.espace-bouton {
    width: 100%;
    height: 275px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $grey-bg-button-color;
    @media (min-width:699px)  {
        height: 230px;
    }
    &__titre {
        width: 70%;
        font-weight: 700;
        font-size: 24px;
        text-align: center;
        margin: 40px 0px 20px 0px;
        @media (min-width:699px)  {
            font-size: 40px;
        }
    }
    &__description {
        width: 85%;
        font-weight: 300;
        font-size: 18px;
        text-align: center;
        margin-bottom: 30px;
    }
    &__bouton {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 218px;
        height: 50px;
        border-radius: 25px;
        border: none;
        font-weight: 500;
        font-size: 16px;
        background: linear-gradient($secondary-color, $primary-color);
        position: relative;
        z-index: 1;
        color: #FFFFFF;
        cursor : pointer;
        box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.25);
        text-decoration: none;


        &:hover {
            &::after {
                opacity: 1;
              box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.5);
            }
        }
        
        &::after {
            content: "";
            width: 218px;
            height: 50px;
            border-radius: 25px;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
             background: linear-gradient(
              lighten($secondary-color, 5%),
              lighten($primary-color, 5%)
            );
              opacity: 0;
              z-index: -1;
              transition: opacity 250ms;
        }
    }
}

.section-fonctionnement{
    height: 440px;
    display: flex;
    flex-direction: column;

    @media (min-width:699px)  {
        height: 228px;
    }
    &__fonctionnement-titre {
        font-weight: 700;
        font-size: 24px;
        margin: 45px 0px 35px 5%;
        align-self: flex-start;
        @media (min-width:699px)  {
        margin: 45px 0px 0px 13%;
        }
    }

    &__fonctionnement {
        height: 430px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:25px;

        @media (min-width:699px)  {
            flex-direction: row;
            align-items: center;
            gap:3%;
            width: 72%;
            height: 150px;
            margin-left: 14%;
        }

        &__etape {
            display: flex;
            flex-direction: row;
            align-items: center;
            max-width: 322px;
            width: 85%;
            height: 72px;
            background-color: $grey-bg-button-color;
            border-radius: 20px;
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);

            &__numero {
                margin-left: -12px;
                background-color: $primary-color;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                color: #FFFFFF;
                text-align: center;
                line-height: 24px;
            }

            &__icone {
                margin-left: 15px;
                color: rgba(126, 126, 126, 1);
                &--color {
                    margin-left: 15px;
                    color: $primary-color;
                }
            }

            &__texte{
                margin-left: 15px;
                font-weight: 500;
                font-size: 16px;
           }
    }
    }
}

.restaurant {
    width: 100%;
    height: 1200px;
    background-color: $grey-bg-button-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    @media (min-width:699px)  {
        height: 730px;
    }

    &__titre {
        font-weight: 700;
        font-size: 24px;
        padding-left: 5%;
        align-self: flex-start;
        margin: 50px 0px 5px 0px;
        @media (min-width:699px)  {
            padding-left: 15%;
            margin: 40px 0px 5px 0px;
        }
    }
    
    &__espace-resto { 
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        height: 552px;
        
        @media (min-width:699px)  {
            flex-direction: row;
            flex-wrap: wrap;
            width: 70%;
            gap: 10px 7%;
        }

        &__carte {
            display: flex;
            flex-direction: column;
            width: 90%;
            height: 251px;
            align-items: center;
            text-decoration:none;
            color: #000000;
            @media (min-width:699px)  {
                flex-direction: row;
                flex-wrap: wrap;
                width: 46%;
                margin-bottom: 30px;
            }

            &__photo {
                box-sizing: border-box;
                overflow: hidden;
                @media (min-width:699px)  {
                    height:190px;
                    width: 100%;                 
                }
                img {
                    width: 100%;
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                    object-fit: cover;
                    max-width: 340px;
                    @media (min-width:699px)  {
                        max-width: 490px;
                        object-fit: cover;
                        height: 100%;
                    }
                }
            }
            &__descriptions {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                max-width: 340px;
                background-color: #FFFFFF;
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
                height: 70px;
                @media (min-width:699px)  {
                    max-width: 490px;
                }
                
                &__partie-gauche {
                    display: flex;
                    flex-direction: column;
                    height: 65px;
                    padding: 10px 0px 10px 10px;
                    gap: 5px;
                    justify-content: center;
                    &__nom {
                        font-size: 18px;
                        font-weight: 700;
                    }
                    &__lieu {
                        font-size: 17px;
                        font-weight: 300;
                    }
                }

                .animation-coeur{
                    position: relative;
                    width: 30px;
                    .coeur-vide {
                        position: absolute;
                        transition: opacity 0.5s ease-in-out;
                        width: 20px;
                        height: 20px;
                    }

                    .coeur-couleur {
                        position: absolute;
                        transition: opacity 0.5s ease-in-out;
                        opacity: 0;
                        width: 20px;
                        height: 20px;
                    }

                    &:hover {
                        .coeur-vide {
                        opacity: 0;
                        }
                        .coeur-couleur {
                        opacity: 1;
                        }
                    }

                }
            }
        }
    }
}

.restau-menu img {
    position: relative;
    z-index: 1;
    width: 375px;
    height: 275px;
    object-fit: cover;
    @media (min-width:699px)  {
        width: 100%;
        height: 383px;
    }
}

.menu {
    width: 100%;
    background-color: rgba(246, 246, 246, 1);
    height: auto;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    margin-top: -30px;
    position: relative;
    z-index: 2;
    padding-bottom: 50px;
    @media (min-width:699px)  {
        width: 74%;
        margin: -30px 13% 0px 13%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 0px;
    }
    
    .fa-heart {
        padding-right: 15px;
    }
   


    &__titre {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-family: Shrikhand;
        font-style: italic;
        font-size: 28px;
        font-weight: 400;
        gap: 40px;
        height: 100px;
        padding-top: 30px;

        .animation-coeur{
            position: relative;
            width: 30px;
            .coeur-vide {
                position: absolute;
                transition: opacity 0.5s ease-in-out;
                width: 20px;
                height: 20px;
            }
    
            .coeur-couleur {
                position: absolute;
                transition: opacity 0.5s ease-in-out;
                opacity: 0;
                width: 20px;
                height: 20px;
            }
    
            &:hover {
                .coeur-vide {
                opacity: 0;
                }
                .coeur-couleur {
                opacity: 1;
                }
            }
    
        }
    }
}

.choix {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;

    @media (min-width:699px)  {
        width: 60%;
    }

    &__titre {
        align-self: flex-start;
        font-size: 16px;
        font-weight: 300;
        margin-left: 15px;
        margin-bottom: -7px;
    }

    &__soulignement {
        align-self: flex-start;
        width: 40px;
        height: 3px;
        background-color: rgba(153, 226, 208, 1);
        margin-left: 15px;
    }

    &__plat {
        max-width: 349px;
        width: 93%;
        height: 69px;
        background-color: #FFFFFF;
        border-radius: 20px;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        overflow: hidden;

        @media (min-width:699px)  {
            max-width: 634px;
        }

        &__descriptions {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: end;
            padding-left: 10px;
           /* text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;*/



            &__partie-gauche {
                display: flex;
                flex-direction: column;
                height: 60px;
                flex: 1 1;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                &__nom {
                    padding: 7px;
                    font-size: 18px;
                    font-weight: 500;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
                &__precision {
                    display: flex;
                    justify-content: space-between;
                    padding: 7px;
                    font-size: 15px;
                    font-weight: 300;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;

                    .ingredients {
                        flex-wrap: nowrap;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;

                    }

                    .prix {
                        width: 15%;
                        font-size: 15px;
                        font-weight: 700;
                        padding-left: 10px;
                    }
                }
            }
            .apparition-coche {
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                background-color: $third-color;
                width: 0px;
                height: 69px;
                border-bottom-right-radius: 15px;
                border-top-right-radius: 15px;
                transition: width 1s ease-in-out;
                overflow: hidden;
            }
            &:hover {
                & > .apparition-coche {
                    width: 100px;
                    transition: width 1s ease-in-out;
                }
            }
        }
    }    
}


.espacebouton {
    display: flex;
    flex-direction: column;
    margin: 50px 0px 50px 0px;
    align-items: center;
    &__bouton-menu {
        width: 186px;
        height: 50px;
        border-radius: 25px;
        border: none;
        font-weight: 500;
        font-size: 16px;
        background: linear-gradient($secondary-color, $primary-color);
        position: relative;
        z-index: 1;
        color: #FFFFFF;
        cursor : pointer;
        box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.25);
        text-decoration: none;
  
        &:hover {
            &::after {
                opacity: 1;
                box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.7);
            }
        }
        &::after {
            content: "";
            width: 186px;
            height: 50px;
            border-radius: 25px;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: linear-gradient(
            lighten($secondary-color, 5%),
            lighten($primary-color, 5%));
            opacity: 0;
            z-index: -1;
            transition: opacity 250ms;
        }
    }
}


.animation-entree {
    opacity: 0;
    animation: apparaitre 1s ease-in-out forwards;
  }
  
  .animation-plat {
    opacity: 0;
    animation: apparaitre 1s 1s ease-in-out forwards;
  }
  
  .animation-dessert {
    opacity: 0;
    animation: apparaitre 1s 2s ease-in-out forwards;
  }
  
  @keyframes apparaitre {
    0% {
      opacity: 0%;
    }
    20%{
        opacity: 60%;
    }
    100% {
      opacity: 100%;
    }
  }



