// Fichier main.scss
@import 'base/reset';
@import 'base/fonts';
@import 'components/loader';
@import 'components/banner';
@import 'layout/grid';
@import 'layout/header';
@import 'layout/navigation';
@import 'layout/footer';
@import 'utils/functions';
@import 'utils/mixins';
@import 'utils/variables';

:root {
    --main-color: #0065FC;
    --main-bg-color: #FFFFFF;
    --grey-bg-color: #EAEAEA;
    --main-dot-color: #000000;
    --grey-bg-button-color: #F6F6F6;
}

body {
    font-family: roboto, sans-serif;
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 375px;
    box-sizing: border-box;
    background-color: var(--main-bg-color);
}

.liens-standard {
    text-decoration: none;
}

.espace-bouton {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--grey-bg-button-color);
    &__titre {
        width: 70%;
        font-weight: 700;
        font-size: 24px;
        text-align: center;
        margin: 40px 0px 30px 0px;
    }
    &__description {
        width: 85%;
        font-weight: 300;
        font-size: 18px;
        text-align: center;
        margin-bottom: 30px;
    }
    &__bouton {
        width: 218px;
        height: 50px;
        border-radius: 25px;
        background: linear-gradient(#FF79DA, #9356DC);
        border: none;
        font-weight: 500;
        font-size: 16px;
        color: #FFFFFF;
        cursor : pointer;
        box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.25);
    }
}

.fonctionnement {
    height: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:25px;

    &__titre {
        font-weight: 700;
        font-size: 24px;
        margin: 45px 0px 0px 25px;
        align-self: flex-start;
    }
    &__etape {
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 322px;
        width: 85%;
        height: 72px;
        background-color: var(--grey-bg-button-color);
        border-radius: 20px;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);

        &__numero {
            margin-left: -12px;
            background-color: #9356DC;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            color: #FFFFFF;
            text-align: center;
            line-height: 24px;
        }
        &__icone {
            margin-left: 15px;
            color: rgba(126, 126, 126, 1);
            &--color {
                margin-left: 15px;
                color: #9356DC;
            }
        }
        &__texte{
            margin-left: 15px;
            font-weight: 500;
            font-size: 16px;

        }
    }
    }


.restaurant {
    width: 100%;
    height: 1200px;
    background-color: var(--grey-bg-button-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    &__titre {
        font-weight: 700;
        font-size: 24px;
        padding-left: 5%;
        align-self: flex-start;
        margin: 50px 0px 5px 0px;
    }
    &__carte {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 251px;
        align-items: center;
        text-decoration:none;
        color: #000000;
        
        &__photo {
            box-sizing: border-box;
            overflow: hidden;
            img {
                width: 100%;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                object-fit: cover;
            }
        }
        &__descriptions {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            max-width: 340px;
            background-color: #FFFFFF;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            .restaurant__carte__descriptions_partie-gauche {
                display: flex;
                flex-direction: column;
                height: 65px;
                padding: 10px 0px 10px 10px;
                gap: 5px;
                .restaurant__carte__descriptions_partie-gauche_nom {
                    font-size: 18px;
                    font-weight: 700;
                }
                .restaurant__carte__descriptions_partie-gauche_lieu {
                    font-size: 17px;
                    font-weight: 300;
                }
            }
            .restaurant__carte__descriptions_partie-droite {
                width: 15%;
            }
        }
    }
}

.restau-menu img {
    position: relative;
    z-index: 1;
    width: 375px;
    height: 275px;
    object-fit: cover;
}

.menu {
    width: 100%;
    background-color: rgba(246, 246, 246, 1);
    height: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: -30px;
    position: relative;
    z-index: 2;
    padding-bottom: 50px;
   
    &__titre {
        display: flex;
        flex-direction: row;
        align-items:center;
        justify-content: center;
        font-family: Shrikhand;
        font-style: italic;
        font-size: 28px;
        font-weight: 400;
        gap: 40px;
        height: 100px;
    }
}

.choix {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;

    &__titre {
        align-self: flex-start;
        font-size: 16px;
        font-weight: 300;
        margin-left: 15px;
    }

    &__soulignement {
        align-self: flex-start;
        width: 40px;
        height: 3px;
        background-color: rgba(153, 226, 208, 1);
        margin-left: 15px;
    }

    &__plat {
        max-width: 349px;
        width: 93%;
        height: 69px;
        background-color: #FFFFFF;
        border-radius: 20px;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);

        &__descriptions {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: end;
            &__partie-gauche {
                display: flex;
                flex-direction: column;
                height: 60px;
                width: 300px;
                &__nom {
                    padding: 7px;
                    font-size: 18px;
                    font-weight: 500;
                }
                &__precision {
                    padding: 7px;
                    font-size: 15px;
                    font-weight: 300;
                }
            }
            &__partie-droite {
                width: 15%;
                font-size: 15px;
                font-weight: 700;
                padding-bottom: 5px;
            }
        }
    }    
}


.espacebouton {
    display: flex;
    flex-direction: column;
    margin: 50px 0px 50px 0px;
    align-items: center;
    &__bouton-menu {
        width: 186px;
        height: 50px;
        border-radius: 25px;
        background: linear-gradient(#FF79DA, #9356DC);
        border: none;
        font-weight: 500;
        font-size: 16px;
        color: #FFFFFF;
        cursor : pointer;
        box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.25);
    }
}
