footer {
    background-color: rgba(53, 53, 53, 1);
    color: #FFFFFF;
    height: 186px;
    width: 100%;
    text-decoration: none;
    .logo-footer {
        width: 170px;
        padding: 20px 0px 5px 25px;
        object-fit: cover;
    }


    .footer_liens {
        display: flex;
        flex-direction: column;

        .fa-utensils {
            padding: 5px 10px 5px 25px;
        }

        .fa-handshake-angle {
        padding: 5px 10px 5px 25px;
        }

        .standard {
        font-size: 16px;
        font-weight: 400;
        padding: 5px 10px 5px 25px;
        }
        
        .liens {
            color: #FFFFFF;
            text-decoration: none;
        }
    }
}