footer {
    background-color: rgba(53, 53, 53, 1);
    color: #FFFFFF;
    height: 186px;
    width: 100%;
    .titre {
        font-family: Shrikhand;
        font-style: italic;
        font-size: 18px;
        font-weight: 700;
        padding: 25px;
    }

    .fa-utensils {
        padding: 5px 10px 5px 25px;
    }

    .fa-handshake-angle {
        padding: 5px 10px 5px 25px;
    }

    .standard {
        font-size: 16px;
        font-weight: 400;
        padding: 5px 10px 5px 25px;
    }
}