.entete {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .entete__espace-image{
        display: flex;
        justify-content: center;
        margin-top: 8px;
        margin-bottom: 5px;
        width: 100%;
        height: 63px;
        img {
            width: 197px;
            margin: 14px 0px 7px 0px;
            height: auto;
            object-fit: contain;
        }

    }
    .entete__espace-localisation {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--grey-bg-color);
        gap: 17px;
        .entete__espace-localisation-description {
        font-size: 16px;
        font-weight: 500;
        }
    }
}

.entete-carte-restaurant {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 63px;
    &__couleur-fleche {
        color: rgba(53, 53, 53, 1);
        width: 35px;
        text-align: center;
        padding-left: 10px;
    }
    img {
        flex: 1;
        height: 30px;
        margin: 14px 35px 7px 67px;
        object-fit: contain;

    }
}