@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.entete {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.entete .entete__espace-image {
  display: flex;
  justify-content: center;
  margin-top: 14px;
  margin-bottom: 5px;
}
.entete .entete__espace-image img {
  width: 197px;
  margin: 14px 0px 7px 0px;
}
.entete .entete__espace-localisation {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--grey-bg-color);
}
.entete .entete__espace-localisation .entete__espace-localisation-description {
  padding-left: 15px;
  font-size: 16px;
}

.entete-carte-restaurant {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 14px;
  margin-bottom: 5px;
}
.entete-carte-restaurant__couleur-fleche {
  color: rgb(53, 53, 53);
  padding-left: 15px;
}
.entete-carte-restaurant img {
  width: 197px;
  padding-left: 50px;
}

footer {
  background-color: rgb(53, 53, 53);
  color: #FFFFFF;
  height: 186px;
  width: 100%;
}
footer .titre {
  font-family: Shrikhand;
  font-style: italic;
  font-size: 18px;
  font-weight: 700;
  padding: 25px;
}
footer .fa-utensils {
  padding: 5px 10px 5px 25px;
}
footer .fa-handshake-angle {
  padding: 5px 10px 5px 25px;
}
footer .standard {
  font-size: 16px;
  font-weight: 400;
  padding: 5px 10px 5px 25px;
}

:root {
  --main-color: #0065FC;
  --main-bg-color: #FFFFFF;
  --grey-bg-color: #EAEAEA;
  --main-dot-color: #000000;
  --grey-bg-button-color: #F6F6F6;
}

body {
  font-family: roboto, sans-serif;
}

.main-container {
  background-color: var(--main-bg-color);
  font-family: "Roboto", sans-serif;
}

.espace-bouton {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--grey-bg-button-color);
}
.espace-bouton__titre {
  width: 275px;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  margin: 40px 0px 30px 0px;
}
.espace-bouton__description {
  width: 315px;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  margin-bottom: 30px;
}
.espace-bouton__bouton {
  width: 218px;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  cursor: pointer;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.fonctionnement {
  height: 440px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fonctionnement__titre {
  font-weight: 700;
  font-size: 24px;
  margin: 50px 0px 40px 25px;
  align-self: flex-start;
}
.fonctionnement__etape {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 322px;
  width: 100%;
  height: 72px;
  background-color: var(--grey-bg-button-color);
  margin: 0px 0px 35px 0px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.fonctionnement__etape__numero {
  margin-left: -12px;
  background-color: #9356DC;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  color: #FFFFFF;
  text-align: center;
  line-height: 24px;
}
.fonctionnement__etape__icone {
  margin-left: 15px;
  color: rgb(126, 126, 126);
}
.fonctionnement__etape__icone--color {
  margin-left: 15px;
  color: #9356DC;
}
.fonctionnement__etape__texte {
  margin-left: 15px;
  font-weight: 500;
  font-size: 16px;
}

.restaurant {
  width: 100%;
  height: 1250px;
  background-color: var(--grey-bg-button-color);
}
.restaurant__titre {
  font-weight: 700;
  font-size: 24px;
  padding: 50px 0px 20px 20px;
}
.restaurant__carte {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 251px;
  align-items: center;
  margin-bottom: 30px;
}
.restaurant__carte__photo {
  max-width: 300px;
  height: 200px;
  box-sizing: border-box;
  overflow: hidden;
}
.restaurant__carte__photo img {
  max-width: 300px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurant__carte__descriptions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  background-color: #FFFFFF;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.restaurant__carte__descriptions .restaurant__carte__descriptions_partie-gauche {
  display: flex;
  flex-direction: column;
  height: 60px;
}
.restaurant__carte__descriptions .restaurant__carte__descriptions_partie-gauche .restaurant__carte__descriptions_partie-gauche_nom {
  padding: 7px;
  font-size: 18px;
  font-weight: 700;
}
.restaurant__carte__descriptions .restaurant__carte__descriptions_partie-gauche .restaurant__carte__descriptions_partie-gauche_lieu {
  padding: 7px;
}
.restaurant__carte__descriptions .restaurant__carte__descriptions_partie-droite {
  width: 15%;
}

.restau-palette-gout img {
  position: relative;
  z-index: 1;
  width: 375px;
  height: 275px;
}

.menu {
  width: 100%;
  background-color: rgb(246, 246, 246);
  height: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: -30px;
  position: relative;
  z-index: 2;
}
.menu__titre {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: Shrikhand;
  font-style: italic;
  font-size: 28px;
  font-weight: 400;
  padding: 25px;
}

.choix {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.choix__titre {
  align-self: flex-start;
  font-size: 16px;
  font-weight: 300;
  border-bottom: solid 3px rgb(153, 226, 208);
  padding-bottom: 12px;
  position: relative;
  top: 50%;
  bottom: 0;
  margin: 20px;
}
.choix__plat {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 349px;
  width: 100%;
  height: 69px;
  background-color: #FFFFFF;
  margin: 0px 0px 35px 0px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.choix__plat__descriptions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 349px;
  align-items: end;
}
.choix__plat__descriptions .choix__plat__descriptions_partie-gauche {
  display: flex;
  flex-direction: column;
  height: 60px;
  width: 300px;
}
.choix__plat__descriptions .choix__plat__descriptions_partie-gauche .choix__plat__descriptions_partie-gauche_nom {
  padding: 7px;
  font-size: 18px;
  font-weight: 500;
}
.choix__plat__descriptions .choix__plat__descriptions_partie-gauche .choix__plat__descriptions_partie-gauche_precision {
  padding: 7px;
  font-size: 15px;
  font-weight: 300;
}
.choix__plat__descriptions .choix__plat__descriptions_partie-droite {
  width: 15%;
  font-size: 15px;
  font-weight: 700;
  padding-bottom: 5px;
}

.espacebouton {
  display: flex;
  flex-direction: column;
  margin: 50px 0px 50px 0px;
  align-items: center;
}
.espacebouton__bouton-menu {
  width: 186px;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  cursor: pointer;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}/*# sourceMappingURL=main.css.map */