/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain) */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.calque-loader {
  background-color: rgba(0, 0, 0, 0.9);
  display: grid;
  place-items: center;
  text-align: center;
  position: fixed;
  height: 100%;
  inset: 0;
  z-index: 2;
  opacity: 0.9;
  animation: transparence 3s forwards;
  margin: 0;
  padding: 0;
  font-size: 40px;
  color: #fff;
  text-align: center;
  color: black;
}
.calque-loader__loader {
  position: relative;
  width: 300px;
  height: 300px;
  display: inline-block;
  vertical-align: middle;
}
.calque-loader__loader-quart {
  border-radius: 300px;
  border: 6px solid rgba(255, 255, 255, 0.4);
}
.calque-loader__loader-quart::after {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 300px;
  border-radius: 300px;
  border: 6px solid transparent;
  border-top-color: #fff;
  animation: spin 1s linear infinite;
}
.calque-loader__texte {
  position: absolute;
  /*       top: -6px;
         left: -6px;
         right: 0;
         bottom: 0; */
  font-size: 45px;
  color: #fff;
  text-align: center;
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
}
@keyframes transparence {
  0% {
    opacity: 0.9;
  }
  80% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.entete {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.entete .entete__espace-image {
  display: flex;
  justify-content: center;
  margin-top: 8px;
  margin-bottom: 5px;
  width: 100%;
  height: 63px;
}
.entete .entete__espace-image img {
  width: 197px;
  margin: 14px 0px 7px 0px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.entete .entete__espace-localisation {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--grey-bg-color);
  gap: 17px;
}
.entete .entete__espace-localisation .entete__espace-localisation-description {
  font-size: 16px;
  font-weight: 500;
}

.entete-carte-restaurant {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 14px;
  margin-bottom: 5px;
}
.entete-carte-restaurant__couleur-fleche {
  color: rgb(53, 53, 53);
  width: 35px;
  text-align: center;
}
.entete-carte-restaurant img {
  flex: 1;
  height: 30px;
  margin: 14px 35px 7px 0px;
  -o-object-fit: contain;
     object-fit: contain;
}

footer {
  background-color: rgb(53, 53, 53);
  color: #FFFFFF;
  height: 186px;
  width: 100%;
  text-decoration: none;
}
footer .logo-footer {
  width: 170px;
  padding: 20px 0px 5px 25px;
  -o-object-fit: cover;
     object-fit: cover;
}
footer .footer_liens {
  display: flex;
  flex-direction: column;
}
footer .footer_liens .fa-utensils {
  padding: 5px 10px 5px 25px;
}
footer .footer_liens .fa-handshake-angle {
  padding: 5px 10px 5px 25px;
}
footer .footer_liens .standard {
  font-size: 16px;
  font-weight: 400;
  padding: 5px 10px 5px 25px;
}
footer .footer_liens .liens {
  color: #FFFFFF;
  text-decoration: none;
}

:root {
  --main-color: #0065FC;
  --main-bg-color: #FFFFFF;
  --grey-bg-color: #EAEAEA;
  --main-dot-color: #000000;
  --grey-bg-button-color: #F6F6F6;
}

body {
  font-family: roboto, sans-serif;
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 375px;
  box-sizing: border-box;
  background-color: var(--main-bg-color);
}

.liens-standard {
  text-decoration: none;
}

.espace-bouton {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--grey-bg-button-color);
}
.espace-bouton__titre {
  width: 70%;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  margin: 40px 0px 30px 0px;
}
.espace-bouton__description {
  width: 85%;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  margin-bottom: 30px;
}
.espace-bouton__bouton {
  width: 218px;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  cursor: pointer;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.fonctionnement {
  height: 430px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.fonctionnement__titre {
  font-weight: 700;
  font-size: 24px;
  margin: 45px 0px 0px 25px;
  align-self: flex-start;
}
.fonctionnement__etape {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 322px;
  width: 85%;
  height: 72px;
  background-color: var(--grey-bg-button-color);
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.fonctionnement__etape__numero {
  margin-left: -12px;
  background-color: #9356DC;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  color: #FFFFFF;
  text-align: center;
  line-height: 24px;
}
.fonctionnement__etape__icone {
  margin-left: 15px;
  color: rgb(126, 126, 126);
}
.fonctionnement__etape__icone--color {
  margin-left: 15px;
  color: #9356DC;
}
.fonctionnement__etape__texte {
  margin-left: 15px;
  font-weight: 500;
  font-size: 16px;
}

.restaurant {
  width: 100%;
  height: 1200px;
  background-color: var(--grey-bg-button-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.restaurant__titre {
  font-weight: 700;
  font-size: 24px;
  padding-left: 5%;
  align-self: flex-start;
  margin: 50px 0px 5px 0px;
}
.restaurant__carte {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 251px;
  align-items: center;
  text-decoration: none;
  color: #000000;
}
.restaurant__carte__photo {
  box-sizing: border-box;
  overflow: hidden;
}
.restaurant__carte__photo img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurant__carte__descriptions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 340px;
  background-color: #FFFFFF;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.restaurant__carte__descriptions .restaurant__carte__descriptions_partie-gauche {
  display: flex;
  flex-direction: column;
  height: 65px;
  padding: 10px 0px 10px 10px;
  gap: 5px;
}
.restaurant__carte__descriptions .restaurant__carte__descriptions_partie-gauche .restaurant__carte__descriptions_partie-gauche_nom {
  font-size: 18px;
  font-weight: 700;
}
.restaurant__carte__descriptions .restaurant__carte__descriptions_partie-gauche .restaurant__carte__descriptions_partie-gauche_lieu {
  font-size: 17px;
  font-weight: 300;
}
.restaurant__carte__descriptions .restaurant__carte__descriptions_partie-droite {
  width: 15%;
}

.restau-menu img {
  position: relative;
  z-index: 1;
  width: 375px;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  width: 100%;
  background-color: rgb(246, 246, 246);
  height: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: -30px;
  position: relative;
  z-index: 2;
  padding-bottom: 50px;
}
.menu__titre {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: Shrikhand;
  font-style: italic;
  font-size: 28px;
  font-weight: 400;
  gap: 40px;
  height: 100px;
}

.choix {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
}
.choix__titre {
  align-self: flex-start;
  font-size: 16px;
  font-weight: 300;
  margin-left: 15px;
}
.choix__soulignement {
  align-self: flex-start;
  width: 40px;
  height: 3px;
  background-color: rgb(153, 226, 208);
  margin-left: 15px;
}
.choix__plat {
  max-width: 349px;
  width: 93%;
  height: 69px;
  background-color: #FFFFFF;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.choix__plat__descriptions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}
.choix__plat__descriptions__partie-gauche {
  display: flex;
  flex-direction: column;
  height: 60px;
  width: 300px;
}
.choix__plat__descriptions__partie-gauche__nom {
  padding: 7px;
  font-size: 18px;
  font-weight: 500;
}
.choix__plat__descriptions__partie-gauche__precision {
  padding: 7px;
  font-size: 15px;
  font-weight: 300;
}
.choix__plat__descriptions__partie-droite {
  width: 15%;
  font-size: 15px;
  font-weight: 700;
  padding-bottom: 5px;
}

.espacebouton {
  display: flex;
  flex-direction: column;
  margin: 50px 0px 50px 0px;
  align-items: center;
}
.espacebouton__bouton-menu {
  width: 186px;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  cursor: pointer;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}/*# sourceMappingURL=main.css.map */